header {
    text-align:center;
    height:45px;
    background:#090909;
    width:300px;
}
.menu {
    position:relative;
}
.menu .menu_name {
    list-style:none;
    float:left;
    color:white;
    font-size:20px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    text-decoration:none;
}
nav {
    margin-top: 20px;
}